/* @import "assets/style/sass/variables.scss"; */

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* body{
  background-color: linear-gradient(45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite; 
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
} */


#dailyChart {
  width: 600px !important;
  
}

@media screen and (max-width: 900px) {
  #dailyChart {
    width: 95vw !important;
    height: auto;
    flex-direction: column;
  }
}

@media screen and (min-width: 1100px) {
  .dailyChart {
    width: 53% !important;
    height: 100vh;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .tablist {
    width: 100vw;
  }
}

